<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481979660996-fgfbntv803b6nj6guo9dclkcri8h9ntd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481979660996-fgfbntv803b6nj6guo9dclkcri8h9ntd</string>
	<key>API_KEY</key>
	<string>AIzaSyAHInSR2dkQN2vrOPEWNyfztfU5UUnuWVg</string>
	<key>GCM_SENDER_ID</key>
	<string>481979660996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dania.LaundryApp</string>
	<key>PROJECT_ID</key>
	<string>laundryapp-a2a41</string>
	<key>STORAGE_BUCKET</key>
	<string>laundryapp-a2a41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481979660996:ios:6af8709377eb1264c6a791</string>
</dict>
</plist>